.preserve-whitespace {
    white-space: pre-wrap;
}

.view-form {
    text-align: left;
}

.notes-card {
    max-height: 35em;
    overflow: auto;
    border: hidden
}

.notes-row {
    width: -webkit-fill-available;
}

.clickable {
    cursor: pointer;
}