.preserve-whitespace {
    white-space: pre-wrap;
}

.view-form {
    text-align: left;
}

.note {
    border-color: lightblue;
    border-top: hidden;
}

.note p {
    text-align: left;
}

.note-header {
    background-color: lightblue;
    border-color: lightblue;
}

.notes-card {
    max-height: 35em;
    overflow: auto;
    border: hidden
}

.notes-button {
    width: fit-content;
    align-self: flex-end;
    background-color: lightblue;
    border-color: lightblue;
}

.notes-row {
    width: -webkit-fill-available;
}