.review-vertical-align {
    align-self: flex-end;
}

.review-form {
    text-align: left;
}

.required::after {
    content: " *";
    color: red;
}

.back-button {
    margin-left: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}