.request-form {
    text-align: left;
}

.request-form > div {
    margin-bottom: 1rem!important;
}

.request-vertical-center {
    align-self: center;
}

.subtext {
    font-size: small;
}

.approver-info-icon {
    color: gray;
    cursor: pointer;
}

.required::after {
    content: " *";
    color: red;
}