.note {
    background-color: #ffffcc;
    box-shadow: 5px 5px 5px #888888;
    border-radius: 0;
    border-color: transparent;
}

.good-note {
    background-color: #3379b759;
}

.bad-note {
    background-color: rgba(255 148 148);
}

.note p {
    text-align: left;
}

.preserve-whitespace {
    white-space: pre-wrap;
}

.note-timestamp {
    font-size: small;
}